<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
                                          html: { method: :put,
                                                  class: "ui form",
                                                  multipart: true }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true, required: "true" %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, required: "true" %>
  </div>

  <div class="inline fields">
    <div class="field">
      <div class="ui radio checkbox">
        <%= f.radio_button :gender, "M" %>
        <label for="user_gender_m">Male</label>
      </div>  
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <%= f.radio_button :gender, "F" %>
        <label for="user_gender_f">Female</label>
      </div>  
    </div>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, required: "true" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "off", placeholder: @minimum_password_length > 0 ?
    "#{@minimum_password_length} characters minimum" : ""  %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "off", required: "true" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "ui button" %>
  </div>

<% end %>
