<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "ui form", multipart: true }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true, required: "true" %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, required: "true" %>
  </div>

  <div class="inline fields">
    <div class="field">
      <div class="ui radio checkbox">
        <%= f.radio_button :gender, "M" %>
        <label for="user_gender_m">Male</label>
      </div>  
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <%= f.radio_button :gender, "F" %>
        <label for="user_gender_f">Female</label>
      </div>  
    </div>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, required: "true" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", required: "true" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "ui button" %>
  </div>

<% end %>
