<div class="comment">
  <a class="avatar">
    <%= image_tag comment.user.avatar %>
  </a>
  <div class="content">
    <a class="author"><%= comment.user.full_name %></a>
    <div class="metadata">
       <span class="date"><%= time_ago_in_words(comment.created_at) %></span>
    </div>
    <div class="text">
       <%= comment.body %>
    </div>
  </div>
</div>