<div <%= view_profile ? raw("class='column margin-bottom-message'") : raw("class='column'") %> >
    <div class="ui fluid card">
        <div class="content">
        <div class="right floated meta"><%= time_ago_in_words(article.created_at) %></div>
            <%= image_tag article.user.avatar, class: "ui avatar image" %>
            <%= view_profile ? article.user.full_name : truncate(article.user.full_name, length: 15) %>
        </div>
        <div class="image">
        <a href=<%= "/articles/#{article.id}" %> class="header">
            <h1 class="ui wireframe"><%= truncate(article.title, length: 50) %></h1>
        </a>
        </div>
        <div class="content">
        <i class="comment icon"></i>
            <%= pluralize(article.comments.count, "comment") %>
        </div>
    </div>
</div>