<%= form_for(@article, multipart: true, :html => {class: "ui form", role: "form"}) do |f| %>
    <% if @article.errors.any? %>
        <div class="panel panel-danger col-md-offset-1">
          <div class="panel-heading">
            <h2 class="panel-title">
              <%= pluralize(@article.errors.count, "error") %>
              prohibited this article from being saved: </h2>
              <div class="panel-body">
                <ul>
                  <% @article.errors.full_messages.each do |msg| %>
                  <li>
                    <%= msg %>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
    <% end %>

    <div class='field'>
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: 'Title of article', autofocus: true, required: "true" %>
    </div>

    <div class='field'>
      <%= f.label :body %>
      <%= f.text_area :body, rows: 30, id: "descricaoText", placeholder: 'Body of article', required: "true" %>
    </div>

    <div class='field'>
      <%= f.submit class: 'ui button' %>
    </div>

<% end %>
