<% if @articles.empty? %>
  <h1 id="no-articles">No Articles Created</h1>
<% else %>

  <div class="ui four column grid">

    <% @articles.each do |article| %>

      <%= render "article", article: article, view_profile: false %>

    <% end %>

  </div>

<% end %>
