
<h2>My Articles</h2><br/>

<table class="ui very basic table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
        <tr>
            <td><%= article.title %></td>
            <td><%= link_to raw("<i class='edit icon'></i>"), edit_article_path(article) %></td>
            <td><%= link_to raw("<i class='erase icon'></i>"), article_path(article), class: "erase-link",
                                                                                      method: :delete,
                                                                                      :data => {:confirm => 'Are you sure?'} %>
                                                                                      </td>
        </tr>
    <% end %>
  </tbody>
</table>