
<section class="article cotainer">

  <header>
    <h1 class="ui header"><%= @article.title %></h1><br/><br/>
  </header>

  <div class="article body">
    <%= @article.body %>
  </div>

    <div class="ui comments">

      <h3 class="ui dividing header">Comments</h3>

      <% if @article.comments.any? %>

        <div id="comments">

          <% persisted_comments(@comments).each do |comment| %>

            <%= render 'comments/comment', comment: comment %>

          <% end %>

        </div>

      <% end %>

      <% if user_signed_in? %>

          <%= form_for [@article, @comment], remote: true, :html => { class: "ui form margin-top" } do |f| %>

            <div class="field">
              <%= f.label :body, "New Comment" %>
              <%= f.text_area :body %>
            </div>

            <div class="field">
              <%= f.submit class: "ui button" %>
            </div>

          <% end %>

      <% end %>

    </div>

</section>

