
<div class="ui grid">
    
    <div class="four wide column">

        <div class="ui card">
            <div class="image">
                <%= image_tag @user.avatar %>
            </div>
            <div class="content">
                <div class="header">
                    <%= @user.full_name %>
                </div>
            </div>
            <div class="content">
                <%= render 'followers', user: @user %>
                <% unless @user.id == current_user.id %>
                    <form action="/follow/user" method="post" accept-charset="UTF-8" data-remote="true" id="follow-form">
                        <input type="hidden" name="user_id" value=<%= "#{@user.id}" %>>
                        <button <%=  current_user.is_following(@user) ? raw("class='ui basic blue button right floated'") : 
                                                                        raw("class='ui basic green button right floated'") %>>
                            <%=  current_user.is_following(@user) ? "Following" : "Follow" %>
                        </button>
                    </form>
                <% else %>
                    <%= link_to raw("<i class='pencil icon'></i> Perfil"), edit_user_registration_path, class: "ui button primary right floated" %>
                <% end %>
            </div>
        </div>
        
    </div>

    <div class="twelve wide column">

        <div id="error_messages_ajax"></div>

        <% @user.articles.each do |article| %>

            <%= render "articles/article", article: article, view_profile: true %>

        <% end %>

    </div>

</div>