<div class="ui fixed inverted borderless menu">
  <%= link_to 'BlogCapenga', root_path, class: "header item active" %>
  <div class="right menu">
    <% if user_signed_in? %>
      <input type="hidden" data-user="<%= current_user.id %>">
      <div class="ui fluid category item search">
        <div class="ui icon transparent inverted input">
          <input class="prompt" type="text" placeholder="Search users...">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
      <div class="ui dropdown item">
        <div style="padding: 0px 8px 0px 8px;">
          <sup><%= current_user.notifications.count %></sup><i class="alarm icon"></i>
        </div>
        <div class="menu">
          <% if current_user.notifications.any? %>
            <% current_user.notifications.each do |notification| %>
              <div class="item"><%= notification.description %></div>
            <% end %>  
          <% else %>
            <div class="item">No news</div>
          <% end %>  
        </div>
      </div>
      <div class="ui dropdown item" id="menu-item-dropdown">
        <%= current_user.email %>
        <div class="i dropdown icon"></div>
        <div class="menu">
          <%= link_to raw("<i class='add square icon'></i> New Article"), new_article_path, class: "item" %>
          <%= link_to raw("<i class='file text outline icon'></i> My Articles"), my_articles_path, class: "item" %>
          <%= link_to raw("<i class='user icon'></i> Perfil"), profile_path(current_user), class: "item" %>
          <%= link_to raw("<i class='power icon'></i> Logout"), destroy_user_session_path, method: :delete, class: "item" %>
        </div>
      </div>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path, class: "item ui button bordless" %>
    <% end %>
  </div>
</div>