<% if @follower.errors.any? %>
    <ul>
        <% @follower.errors.full_messages.each do |message| %>
            <li class="margin-bottom-message ui message error"><%= message %></li>
        <% end %>
    </ul>
<% end %>
