<% if @follower.errors.any? %>
  $("#error_messages_ajax").show().html("<%=  escape_javascript(render 'error_messages')%>");
<% else %>    
  var form = document.querySelector("#follow-form");
  var div = document.querySelector("button.ui.basic.button");

  <% if @following %>
    div.textContent = "Following";
    div.classList.remove("green");
    div.classList.add("blue");
  <% else %>
    div.textContent = "Follow";
    div.classList.remove("blue");
    div.classList.add("green");
  <% end %>

  $("#followers").replaceWith("<%=  escape_javascript(render 'users/followers', user: @user)%>");
  
<% end %>