<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "ui form" }) do |f| %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, required: "true" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", required: "true" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", class: "ui button" %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
