
.ui.segment {
    padding: .4em .4em;
    border-radius: 0px;
}

.margin-bottom-message {
    margin-bottom: 2em !important;
}

.margin-top {
    margin-top: 3em !important;
}

.description {
    text-align: justify !important;
}

i.edit, i.erase {
    color: black !important;
}

h1.wireframe {
    margin-left: 15px;
    margin-right: 15px;
}

.article.cotainer {
    margin-left: 15%;
    margin-right: 15%;
}

.article.body {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 150%;
    line-height: 150%;
    text-align: justify;
}

.ui.comments {
    max-width: 100%;
}