<!DOCTYPE html>
<html>
  <head>
    <title>BlogAppChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <%= render "shared/menu" %>

    <div class="ui container" style="margin-top: 5em;">
        <div class="row">
          <div class="col-md-12">
            <% flash.each do |key, message| %>
              <div class="margin-bottom-message ui message <%= key == 'notice'? 'success': 'error' %>">
                <i class="close icon"></i>
                <%= message %>
              </div>
            <% end %>
          </div>
        </div>
        <%= yield %>
    </div>

  </body>
</html>
